<div class = "container-fluid employer-applicant-dashboard">
    <img class="img-responsive center-block logo" src="https://s3.amazonaws.com/uploads.hipchat.com/39979/464287/DM0hTdxQgT5J45b/screena_logo.png">
    <div class="text-center">
      <a href="/prospects">Prospects</a>
      </br>
      <a href="/employers">Employers</a>
    </div>
</div>