/*STATIC - HOME PAGE CSS*/
.page-1 {
  .main-logo {
    padding-top: 3em;
    width: 40%;
    margin-left: 21.5em;
  }

  h1, h2, h3, h4 {
    text-align: center;
  }

  h1 {
    font-size: 10em;
  }

  h2 {
    font-size: 3em;
  }

  .jumbotron {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    background: transparent;
    padding-top: 0;
    p {
      font-size: 3.5em;
      text-align: center;
    }
  }
  
  .circle {
    border-radius: 50%;
    width: 20em;
    height: 20em;
    position: relative;
    background-color: #268FCE;
    margin-bottom: 1em;
    cursor: pointer;
    cursor: hand;
  }

  .circle-left {
    /* float: left; */
    /* margin-left: 20em; */
  }

  .circle-right {
    /* float: right; */
    /* margin-right: 20em; */
  }

  .circle-text {
    color: white;
    margin-top: 2em;
    text-align: center;
  }

  .description {
    clear: both;
    text-align: center;
    padding-top: 4em;
    p {
      font-size: 2.5em;
    }
  }
}

/*APPLICANT SELECT CSS*/
.applicant-select {  
  .logo {
    padding-top: 3em;
    width: 15%;
    margin-left: 1em;
  }

  h1, h2, h3, h4 {
    text-align: center;
  }

  h1 {
    font-size: 10em;
  }

  h2 {
    font-size: 3em;
  }

  .jumbotron {
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    background: transparent;
    padding-top: 0;
    p {
      font-size: 2em;
    }
  }

  .circle {
    border-radius: 50%;
    width: 15em;
    height: 15em;
    position: relative;
    background-color: #268FCE;
   /* border: .2em solid grey;*/
    cursor: pointer;
    cursor: hand;
  }

  .circle-top-left {
    float: left;
    margin-left: 17.5em;
    margin-bottom: 4em;
  }

  .circle-top-right {
    float: right;
    margin-right: 17.5em;
    margin-bottom: 1em;
    .circle-text {
      margin-top: -.9em;
    }
  }

  .circle-bottom-left {
    float: left; 
    margin-left: 17.5em;
    margin-bottom: 1em;
    clear: both;
  }

  .circle-bottom-right {
    float: right; 
    margin-right: 17.5em;
    margin-bottom: 1em;
    .circle-text {
      margin-top: -.9em;
    }
  }

  .circle-text {
    color: white;
    padding-top: 3em;
    text-align: center;
  }
}


/*EMPLOYER SELECT CSS*/
.employer-select {  
  .logo {
    padding-top: 3em;
    width: 15%;
    margin-left: 1em;
  }

  h1, h2, h3, h4 {
    text-align: center;
  }

  h1 {
    font-size: 10em;
  }

  h2 {
    font-size: 3em;
  }

  .jumbotron {
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    background: transparent;
    padding-top: 0;
    p {
      font-size: 2em;
    }
  }

  .circle {
    border-radius: 50%;
    width: 15em;
    height: 15em;
    position: relative;
    background-color: #268FCE;
   /* border: .2em solid grey;*/
    cursor: pointer;
    cursor: hand;
  }

  .circle-top-left {
    float: left;
    margin-left: 17.5em;
    margin-bottom: 4em;
  }

  .circle-top-right {
    float: right;
    margin-right: 17.5em;
    margin-bottom: 1em;
    .circle-text {
      margin-top: -.9em;
    }
  }

  .circle-bottom-left {
    float: left; 
    margin-left: 17.5em;
    margin-bottom: 1em;
    clear: both;
  }

  .circle-bottom-right {
    float: right; 
    margin-right: 17.5em;
    margin-bottom: 1em;
    .circle-text {
      margin-top: -.9em;
    }
  }

  .circle-text {
    color: white;
    padding-top: 3em;
    text-align: center;
  }
}
/*employer dashboard*/
.employer-applicant-dashboard {
  .logo {
    padding-top: 3em;
    width: 15%;
    margin-left: 1em;
  }
  
  .well {
    clear: both;
    max-width: 70%;
    margin:0 auto;
    border: none;
    margin-bottom: 30px;
    .panel {
      width: 60%;
      margin: 0 auto;
    }
    .panel-heading {
      border: 1px solid #6AA7D3;
      border-left-width: 10px;
      background-color: white;
    }
    .panel-body {
      font-size: 20px;
     }
     .lead {
       font-size: 30px;
       margin-bottom: 0px;
     } 
  }
  
  .jumbotron {
    max-width: 75%;
    margin: 0 auto;
    background: transparent;
    h2 {
      font-size: 55px;
    }
    .well {
      width: 70%;
      margin: 0 auto;
      background-color: #4591C8;
      opacity: 0.8;
      color: white;
      border: none;
      margin-bottom: 75px;
    }
    .lead {
      font-size: 40px;
      margin-bottom: 0px;
    }
  } 
}